
.bg-image1 {
    background-image: url("../../assests/images/programms/bgImage1.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.round-circle {
    width: 29.6rem;
    height: 28.6rem;
    color: #433833;
    background-color: #f0eae5;
    border-color: #eca60f !important;
    border-radius: 50%;
    border: 3px solid;
    display: block;
    line-height: 12rem;
    font-size: 4.6667em;
    font-weight: 600;
    margin-left: 8rem;
    margin-top: 8rem;
  }